<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/output.css" rel="stylesheet">
    <title>
        {% block title %}
        my favorites
        {% endblock %}
    </title>
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pocketbase/0.21.1/pocketbase.umd.js"></script>
    <script>
        const dbUrl = '{{ db_url }}'.replaceAll('&#x2F;', '/')
        const pb = new PocketBase(dbUrl)
        htmx.config.defaultSwapStyle = 'outerHTML'
    </script>
</head>

<body>
    <header class="py-10 space-y-2">
        <div class="mx-auto max-w-6xl flex items-center justify-center space-x-4">
            <span class="text-lg font-semibold text-purple-800">my favorites</span>
        </div>
    </header>
    <main class="flex-1 flex items-center justify-center">
        {% block content %}

        {% endblock %}
    </main>
</body>

</html>